body{
    font-family: "Oswald", sans-serif;
}

.weather-card{
    background-color: chocolate;
    color: antiquewhite;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    
    .panel-start{
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-position: center center;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &::before{
            content: "";
            background-color: chocolate;
            opacity: 0.3;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            z-index: 0;
        }

        h2,h4,h5{
            margin: 0;
        }

        .date,.temp{
            position: relative;
            z-index: 1;
        }
    }

    .panel-end{

    }

    
}